<!-- in busritten komen alle busritten die aangemaakt zijn met de nameform,
hier komt ook een link naar de nameform -->
<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<h1>Alle huidige busritten</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/nameForm">Maak busrit aan</a></li>
  </ul>
</nav>

  <article>
    <!-- loopt door de data (for) heen, voegt voor elk gevonden data een nieuwe
     article toe -->
    <% for (var index=0; index < data.length; index++) { %>
      <div class="busrit">
      <h2><%= data[index].fromLocation %></h2>
      <p><%= data[index].destination %></p>
      <p><%= data[index].date %></p>
    </div>
    <% } %>
  </article>

</body>
</html>

