<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body id="index">
    <h1>Busritten</h1>
  <nav>
    <ul>
      <li><a href="/nameForm">Maak een busrit aan</a> </li>
      <li><a href="/busRitten">Bekijk busritten</a> </li>
    </ul>
    <h2>Evenementen binnekort in Nederland</h2>
    <ul id="list">

    </ul>
    
  </nav>

  <script src="/js/index.js"></script>
</body>
</html>
  